# **Data  type and structues**

**Ques 1 -What are data structures, and why are they important?**

-> Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.They provide a systematic way to manage data and are used in nearly every program or software system. The importance of data structure are as following -
 - They help store and organize data logically, making it easier to access and update.
 - Choosing the right data structure can make your program much faster and use less memory.

**Ques 2- Explain the difference between mutable and immutable data types with examples?**

-> Mutable data is that data which can be easily modified . Example are - list , set , dictionary

In [ ]:
#example of mutable data type
my_list =[1,3,"hello","mango"]
print("before change",my_list)
my_list[3]="world"
print("after change",my_list)

before change [1, 3, 'hello', 'mango']
after change [1, 3, 'hello', 'world']

-> Immutable data is that data which cannot be modified .Example are- tuple , string ,float

In [ ]:
#example of immutable data type
a ="hello"
print(a)
a[3]="o"
#then it will show error because string is immutable

**Ques3 -  What are the main differences between lists and tuples in Python?**

-> List is a mutable data type (modify easily) and tuple is an immutable data type(cannot be modified) .
syntax of list is [ ] and syntax of tuple is( )

example of list : my_list =[1,3,4]

example of tuple: my_tuple=(1,2,3,4)

**Ques4 - Describe how dictionaries store data**

->A dictionary in Python stores data as key-value pairs. Elements are not stored in a specific order.Each key acts as a unique identifier for retrieving an associated value.

In [ ]:
#example of dictionary
result = {"name":"anuj", "age":20 ,"grade":"A"}
print(result)

{'name': 'anuj', 'age': 20, 'grade': 'A'}

In [ ]:
result["age"]

20

**Ques5 -Why might you use a set instead of a list in Python?**

-> 1- No Duplicate Values:

- Set automatically removes duplicates.

- List can have duplicates.

2- Sets support powerful operations like:

- Union (|)

- Intersection (&)

- Difference (-)

3- Set operates faster than list

**Ques6 - What is a string in Python, and how is it different from a list?**

- String is an immutable data type whereas list is a mutable data type.
-  String is a sequence of characters enclosed in quotes (' ' or " ").A list is a sequence of items (which can be of any type), enclosed in square brackets [ ].

example of string: x ="hello"

example of list : x= [1,2,3,"hello","world"]

**Ques7- How do tuples ensure data integrity in Python?**

Once you create a tuple, you cannot change, add, or remove any of its elements.

This immutability is what helps protect the data from accidental changes, ensuring data integrity.

**Ques8- What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure used to store key-value pairs.
It allows for very fast access to data using a unique key.

A dictionary in Python is built using a hash table.

**Ques9 -Can lists contain different data types in Python?**

-> yes ,list contains different data type.

for example:  my_list= [1 ,2 ,"hello" ,7.3 ,[1,3] ,True ]

here:
- 1,2 is integer
- "hello" is string
- 7.3 is float value
- True is boolean
- [1,3] is another list

**Ques10 -Explain why strings are immutable in Python?**

Strings are immutable because once you create a string, you cannot change its characters.

- strings often store important data (names, passwords, file paths), immutability prevents accidental changes.
- This makes string handling faster and more memory-efficient.

In [ ]:
#example
x ="hello"
x[2]="o"
#it will show error because it is immutable

**Ques11- What advantages do dictionaries offer over lists for certain tasks?**

->Advantages :
- Dictionary stores the key values while list is collection of elements.
- In dictionary keys must be unique, list supports duplicates.
- Dictionary has fast lookups, while list has slower lookups
- Dictionaries can store different data types as values, and they can be easily modified by adding, updating, or removing key-value pairs.

**Ques12-  Describe a scenario where using a tuple would be preferable over a list?**
- A tuple is immutable (cannot be changed), so it maintains intigrity.
- Tuples take up less memory and are a bit faster than lists.

- tuple can be used as a key in dictionary, but list cannot be used as a key.

**Ques13 -How do sets handle duplicate values in Python?**

-> when we add duplicate value in set , it automatically removes the duplicate values. it has unique values

In [ ]:
# example
set1 = {1,2,3,4,5,1,2,3}
print(set1)

{1, 2, 3, 4, 5}

**Ques14- How does the “in” keyword work differently for lists and dictionaries?**

In list, "in" keyword checks the value in the list .

In [ ]:
#example
my_list= ["mango","peach","apple"]
"apple" in my_list

True

In [ ]:
my_list= ["mango","peach","apple"]
"plum" in my_list

False

In dictionary, "in" keyword checks ony key in dictionary.

In [ ]:
#example
result = {"name":"anuj", "age":20 ,"grade":"A"}
"name" in result

True

In [ ]:
result = {"name":"anuj", "age":20 ,"grade":"A"}
"anuj" in result

False

**Ques 15-  Can you modify the elements of a tuple? Explain why or why not?**

-> We cannot modify value in tuple because:
 - tuple is immutable.
 - it protects the data.
 - Faster and memory-efficient
 - Can be used as dictionary keys

**Ques16- What is a nested dictionary, and give an example of its use case?**

-> A nested dictionary means a dictionary inside another dictionary.

It lets us store complex and grouped data

In [ ]:
#example
result = {
    "student1": {"name": "Alice", "age": 18, "grade": "A"},
    "student2": {"name": "Bob", "age": 17, "grade": "B"},
}
print(result)

{'student1': {'name': 'Alice', 'age': 18, 'grade': 'A'}, 'student2': {'name': 'Bob', 'age': 17, 'grade': 'B'}}

In [ ]:
print(result["student1"]["name"])

Alice

**Ques17-  Describe the time complexity of accessing elements in a dictionary?**

The time complexity of accessing elements in a dictionary is generally

- O(1) for  average case
- O(n) for  worst case

**Ques18 - In what situations are lists preferred over dictionaries?**

Lista are preferred over dictionaries:
-  when we have ordered data.
- when we need to store duplicate data.
- when we want to access by index and data is without labels.

**Ques19 - Why are dictionaries considered unordered, and how does that affect data retrieval?**

-> Dictionaries are considered unordered because they don't guarantee a specific order for their elements (key-value pairs) when you iterate through them or retrieve data.

Factors affecting retrival:
- cannot access data by indexing
- access only by keys
- not good for step by step ordered data

**Ques20 -  Explain the difference between a list and a dictionary in terms of data retrieval?**

-> Difference are:
 - In list, data is accessed by index numbers, but in dictionary data is accessed by keys.
 - List is suitable for ordered data ,dictionary is suitable for labed data.

In [ ]:
#example of list
my_list= [1,2,3,4]
my_list[2]

3

In [ ]:
#example of dictionary
result = {"name":"anuj", "age":20 ,"grade":"A"}
result["name"]

'anuj'

# **Practical questions**

**Ques1 - Write a code to create a string with your name and print it**

In [ ]:
name = "maulshree"
print("my name is ",name)

my name is  maulshree

**Ques2- Write a code to find the length of the string "Hello World"**

In [ ]:
x = "Hello World"
len(x)

11

**Ques3-Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
x="Pyhton Programming"
x[0:3]

'Pyh'

**Ques4 -  Write a code to convert the string "hello" to uppercase**

In [ ]:
a= "hello"
a.upper()

'HELLO'

**Ques5 - Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
a = "i like apple"
a.replace("apple","orange")

'i like orange'

**Ques6 - Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

**Ques7 -  Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**Ques8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [ ]:
my_list= [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**Ques9- Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
my_list= ["a","b","c","d"]
my_list[1]

'b'

**Ques10 -  Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**Ques11-  Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [ ]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

**Ques12-  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

**Ques13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
my_tuple = (10,20,5,15)
min(my_tuple)

5

**Ques14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index("cat")

1

**Ques15 -. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
my_tuple = ("mango","kiwi","banana")
"kiwi" in my_tuple

True

**Ques16 - Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [ ]:
my_set = {"a","b","c"}
print(my_set)

{'c', 'b', 'a'}

**Ques 17 -Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
x = {1,2,3,4,5}
x.clear()
x

set()

**Ques 18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
my_set = {1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

**Ques19 -Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [ ]:
set1 ={1,2,3}
set2 ={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#it can also be written as :
set1|set2

{1, 2, 3, 4, 5}

**Ques20 - . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1 ={1,2,3}
set2 ={3,4,5}
set1.intersection(set2)

{3}

In [ ]:
# it can also written as :
set1&set2

{3}

**Ques 21 - Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
a ={"name":"moli","age":20,"city":"pune"}
print(a)

{'name': 'moli', 'age': 20, 'city': 'pune'}

**Ques22 - Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [ ]:
d1 = {'name': 'John', 'age': 25}
d2= {"country":"USA"}
d1.update(d2)
d1

{'name': 'John', 'age': 25, 'country': 'USA'}

**Ques 23 -  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [ ]:
d1 ={"name":"Alice","age":30}
d1["name"]

'Alice'

**Ques24 -  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
d1 = {"name":"Bob","age":22,"city":"New York"}
d1.pop("age")
d1

{'name': 'Bob', 'city': 'New York'}

**Ques25 -  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
d1= {"name":"Alice","city":"Paris"}
"city" in d1

True

**Ques 26-  Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {"name":"anuj","age":20}
print("list:", my_list)
print("tuple:",my_tuple)
print("dictionary:",my_dict)

list: [1, 2, 3, 4]
tuple: (1, 2, 3, 4)
dictionary: {'name': 'anuj', 'age': 20}

**Ques27 -Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,and print the result.(replaced)**

In [ ]:
number = [4,67,38,79,95]
number.sort()
print("assending order is:",number)

assending order is: [4, 38, 67, 79, 95]

**Ques28 - . Write a code to create a list with strings and print the element at the third index.**

In [ ]:
my_list= ["name","class","roll","grade"]
my_list[3]

'grade'

**Ques29 - Write a code to combine two dictionaries into one and print the result.**

In [ ]:
d1= {"name":"ajay","age":34}
d2= {"hobby":"cricket","grade":"a"}
d1.update(d2)
d1

{'name': 'ajay', 'age': 34, 'hobby': 'cricket', 'grade': 'a'}

**Ques 30 -  Write a code to convert a list of strings into a set.**

In [ ]:
my_list= ["mango","peach","apple"]
set(my_list)

{'apple', 'mango', 'peach'}